.wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
}
a {
  text-align: none;
  color: #ccc;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  height: 44px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 44px;
  position: relative;
}

.header b {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 20px;
}

.main {
  flex: 1;
  overflow-y: auto;
  background: #f3f3f7;
  position: relative;
}

.main > div {
  position: relative;
}
main .banner {
  width: 100%;
  height: 180px;
}
main .banner .images {
  width: 100%;
  height: 180px;
}

main .banner .images img {
  width: 100%;
  height: 100%;
}

.main .icon {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  margin-top: 11px;
  background: #fff;
}

main .icon span {
  width: 25%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.lables {
  font-size: 14px;
  padding-top: 5px;
}

.main .icon span i {
  width: 100%;
  height: 22px;
  color: #43cf7c;
  font-size: 22px;
}

.main .dynamicTitle {
  width: 100%;
  height: 40px;
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

main .dynamicTitle div {
  padding: 0 5px;
  font-size: 15px;
}

main .dynamicTitle div:nth-child(1) i {
  margin-right: 3px;
  color: #ff5733;
}

main .dynamicTitle div:nth-child(2) {
  color: #000;
}
.quanbu {
  color: #569cea;
  font-size: 13px;
}

main .dynamicTitle div:nth-child(2) i {
  color: #000;
}
.dongtai {
  margin-top: 20px;
  background: #fff;
}

.btnAdd {
  width: 95%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
  border: 1px solid #ccc;
  margin-top: 18px;
  color: #000;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 180px;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}
.ant-carousel .slick-slide img {
  width: 100%;
  height: 100%;
}

.footer {
  height: 48px;
  line-height: 10px;
  border-top: 1px solid #ccc;
  display: flex;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

.footer a {
  width: 20%;
  height: 100%;
  color: #000;
  text-align: center;
  flex: 1;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.footer a i {
  width: 100%;
  height: 20px;
  margin-top: 5px;
  font-size: 20px;
}

.footer a span {
  margin-top: 6px;
  font-size: 14px;
}

.footer .active {
  color: #000;
  background: lime;
  color: yellow;
}

.dialog {
  width: 100px;
  height: 90px;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  font-size: 14px;
}

#ImgDialog.on {
  display: none;
}
#ImgDialog {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
}
#ImgDialog .img {
  width: 100%;
  height: 120px;
  background: red;
  position: fixed;
  top: 50%;
  left: 50%;
}
#ImgDialog .img img {
  width: 100%;
  height: 100%;
}
