@import 'common.scss';

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        width: 100%;
        height: px2rem(160px);
        line-height: px2rem(60px);
        padding-left: px2rem(120px);

        p {
            font-size: px2rem(18px);
        }
    }
    .main{
        width: 100%;
        flex: 1;
        overflow-y: auto;
        ul{
            width: 85%;
            margin-left: px2rem(70px);
            height: px2rem(220px);
            line-height: px2rem(70px);
            border: 1px solid #747474;
            li{
                display: flex;
                padding-left: px2rem(40px);
                &:nth-child(1){
                    border-bottom: 1px solid #747474;
                    p{
                        &:nth-child(2){
                            padding-left: px2rem(450px);
                            color: red;
                        }
                    }
                }
                p{
                    flex: 1;
                }
            }
        }
    }
}